.hero-Container{
    position: relative;
    width: 100%;
}
.hero-img{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.hero-contain{
    transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: start;
    
}
