.modalbtn{
    background-color: red !important;
    padding: 0.5rem 1.3rem;
    border: 0px;
    cursor: pointer;
    margin: 6px 5px;
    font-weight: 600; 
    color: white !important;   
}
.modalbtn:hover{
    background-color: rgb(172, 2, 2) !important;
}
.modalcloseBtn{
    background-color: rgb(235, 209, 209) !important;
    color: black !important;
    padding: 0.5rem 1.3rem;
    border: 0px;
    cursor: pointer;
    margin: 6px 5px;
    font-weight: 600;
}
.modalcloseBtn:hover{
    background-color: rgb(172, 169, 169) !important;
    color: black !important;
}